/* body{
  height: 100%;
} */
/* body{
  background-image: url('./assets/back.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

.labell {
    font-size: .7rem;
  }
  
  input.form-control, input.form-control:focus {
    background: #F0F0FF;
  }
  
  .error {
    position: absolute;
    color: red;
    font-size: .6rem;
  }